[
  {rabbit, [
    {default_exchange, <<"">>},
    {default_user, <<"guest">>},
    {default_pass, <<"guest">>},
    {default_vhost, <<"/">>},
    {loopback_users, []},
    {queues, [
      {<<"my_queue">>, [
        {durable, true},       % Fila durável
        {auto_delete, false},  % Não será automaticamente excluída quando não for usada
        {arguments, []}        % Argumentos adicionais, se necessário
      ]}
    ]}
  ]}
].